name: Deploy Frontend

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 #v5.0
      
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 #3.11.1
      
  #  - name: Login to Container Registry
   #   uses: docker/login-action@v2
   #   with:
   #     registry: ghcr.io
   #     username: ${{ github.actor }}
   #     password: ${{ secrets.GITHUB_TOKEN }}
   #     
   # - name: Build and push Docker image
   #   uses: docker/build-push-action@v4
   #   with:
   #     context: .
   #     push: true
   #     tags: |
   #       ghcr.io/${{ github.repository }}:latest
   #       ghcr.io/${{ github.repository }}:${{ github.sha }}
   #     cache-from: type=gha
   #     cache-to: type=gha,mode=max
